#projects-wrap.center
:javascript
  $(function() {
  // Blog is the app name
  window.router = new Todo.Routers.ProjectsRouter({projects: #{@projects.to_json({:include => :tasks}).html_safe}});
  Backbone.history.start();
  })
